{% extends 'shop/basic.html' %}
{% block title %}{% endblock %}

{% block body %}

<div id="about-header" style="padding-top: 100px ;" >
<div  style="padding-top: 100px;">
  <div class="row">
    <div class="col-md-10 col-sm-12"></div>
  </div>
</div>
</div>


<div id="team">
<div class="container">

  <div class="row">
    <div class="col-md-offset-2 col-md-8 col-sm-12">
      <h1>About Us</h1>
              <p>Through CoursesOnCart you can upgrade your skills. We have created a website using which you can browse through different courses available on different online platforms. If you are still confused between the courses or platform to choose, feel free to use the contact block and we'll definitely try to help you.</p>
    </div>
       </div>

       <div class="row mt30">
    <div class="col-md-4 col-sm-4 col-xs-9">
      <div class="team-wrapper">
        <h3>ANJALI</h3>
        <h4>Backend Developer</h4>
      </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-9">
      <div class="team-wrapper">
        <h3>JAGANNATH</h3>
        <h4>Product Manager</h4>
      </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-9">
      <div class="team-wrapper">
        <h3>SATVIK VELIDANDI</h3>
        <h4>ML Engineer</h4>

      </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-9" style="padding-top: 20px;
                                                     padding-bottom: 20px;">
      <div class="team-wrapper">
        <h3>MADHAVENDRA SINGH</h3>
        <h4>Frontend Developer</h4>
      </div>
    </div>
       </div>



{% endblock %}

{% block css %}

{% endblock %}
